<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <arg 
    name="robot_name" 
    default="holorobot"/>

    <!-- ======================== END OF SETTINGS ========================== -->

    <group ns="/$(arg robot_name)">
        <include 
        file="$(find relaxed_ik_ros1)/launch/relaxed_ik.launch">
            <arg 
            name="robot_name" 
            value="$(arg robot_name)"/>
        </include>

        <node 
        pkg="kinova_positional_control" 
        type="update_robot_hologram.py" 
        name="robot_hologram" 
        output="screen">
        </node>
    </group> 
</launch>
