<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <arg 
    name="robot_name" 
    default="my_gen3"/>

    <arg 
    name="anchor_id" 
    default="9"/>

    <arg 
    name="study"
    default="true"/>

    <arg 
    name="random"
    default="false"/>

    <arg 
    name="participant" 
    default=""/>
    
    <arg 
    name="mode" 
    default="0"/>
    
    <arg
    name="trial" 
    default="0"/>

    <arg 
    name="remote_capability_1" 
    default="10.0"/>
    <arg 
    name="remote_capability_2" 
    default="10.0"/>
    <arg 
    name="remote_capability_3" 
    default="10.0"/>
    <arg 
    name="local_capability_1" 
    default="10.0"/>
    <arg 
    name="local_capability_2" 
    default="10.0"/>
    <arg 
    name="local_capability_3" 
    default="10.0"/>

    <!-- ======================== END OF SETTINGS ========================== -->
    
    <node
    pkg="kinova_positional_control" 
    type="update_transforms.py" 
    name="tf_updates" 
    output="screen">
        <param 
        name="anchor_id" 
        value="$(arg anchor_id)"/>
        <param 
        name="robot_name" 
        value="$(arg robot_name)"/>
    </node>

    <include file="$(find gopher_ros_clearcore)/launch/hololens_chest_control.launch"/>

    <include 
    file="$(find kinova_positional_control)/launch/robot_control.launch">
        <arg 
        name="robot_name" 
        value="$(arg robot_name)"/>
        <arg 
        name="study" 
        value="$(arg study)"/>
    </include>

    <!-- HoloLens mapping: -->
    <group ns="/$(arg robot_name)">
        <node 
        pkg="kinova_positional_control" 
        type="hololens_mapping.py" 
        name="hololens_mapping" 
        output="screen">
            <param 
            name="robot_name" 
            value="$(arg robot_name)"/>
            <param 
            name="anchor_id" 
            value="$(arg anchor_id)"/>
        </node>
    </group> 

    <node 
    pkg="kinova_positional_control" 
    type="motion_planner.py" 
    name="motion_planner" 
    output="screen">
    </node>

    <node 
    pkg="holo_project" 
    type="remote_interface.py" 
    name="remote_interface" 
    output="screen">
    </node>

    <node 
    pkg="holo_project"
    type="task_manager.py"
    name="task_manager"
    output="screen">
        <param 
        name="study"
        value="$(arg study)"/>
    </node>

    <node 
    pkg="holo_project"
    type="object_tracker.py"
    name="object_tracker"
    output="screen">
        <param 
            name="anchor_id" 
            value="$(arg anchor_id)"/>
        <param
            name="study" 
            value="$(arg study)"/>
    </node>

    <group unless="$(arg study)">
        <node 
        pkg="failure_allocation" 
        type="update_bounds.py" 
        name="failure_allocation" 
        output="screen"/>
        
        <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_remote" output="screen"
            args="/update_bounds/remote_bound_1/data[0] 
                    /update_bounds/remote_bound_1/data[1]
                    /update_bounds/remote_bound_2/data[0]
                    /update_bounds/remote_bound_2/data[1]
                    /update_bounds/remote_bound_3/data[0]
                    /update_bounds/remote_bound_3/data[1]" />

        <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_local" output="screen"
            args="/update_bounds/local_bound_1/data[0] 
                    /update_bounds/local_bound_1/data[1]
                    /update_bounds/local_bound_2/data[0]
                    /update_bounds/local_bound_2/data[1]
                    /update_bounds/local_bound_3/data[0]
                    /update_bounds/local_bound_3/data[1]" />

    </group> 

    <group if="$(arg study)">
        <node 
        pkg="failure_allocation" 
        type="performance_model.py" 
        name="failure_allocation" 
        output="screen">
        <param 
        name="mode" 
        value="$(arg mode)"/>
        <param 
        name="remote_capability_1" 
        value="$(arg remote_capability_1)"/>
        <param 
        name="remote_capability_2" 
        value="$(arg remote_capability_2)"/>
        <param 
        name="remote_capability_3" 
        value="$(arg remote_capability_3)"/>
        <param 
        name="local_capability_1" 
        value="$(arg remote_capability_1)"/>
        <param 
        name="local_capability_2" 
        value="$(arg remote_capability_2)"/>
        <param 
        name="local_capability_3" 
        value="$(arg remote_capability_3)"/>
        </node>
    </group>

    <include 
    file="$(find data_collector)/launch/data_recorder.launch">
        <arg 
        name="participant" 
        value="$(arg participant)"/>
        <arg 
        name="mode" 
        value="$(arg mode)"/>
        <arg
        name="trial" 
        value="$(arg trial)"/>
        <arg
        name="study" 
        value="$(arg study)"/>
    </include>

</launch>