<?xml version="1.0"?>
<launch>=
    <arg 
    name="serial_number" 
    default="242622070739"/>

    <group ns="/workspace_cam">

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <param
    name="serial_no"
    value="$(arg serial_number)"/>
    </include>
    </group>
</launch>